body{
    background-color: cyan;
}
h1 {
    display: flex;
    justify-content: center;
    font-size: 40px;
    color:khaki;
    background-color: deeppink;
    margin: 0%;
}


input#darāmais {
    height: 50px;
    width: 200px;
    font-size: 20px;
    border: solid 2px black;
    position: relative;
    top: 60px;
    left: 500px;
}

input#termiņš {
    height: 50px;
    width: 200px;
    font-size: 20px;
    border: solid 2px black;
    position: relative;
    top: 60px;
    left: 500px;
}

#pievienodarāmo {
    font-size: 20px;
    height: 50px;
    width: 150px;
    border: solid 2px black;
    position: relative;
    top: 60px;
    left: 500px; 
}








