body{
    background-color: cyan;
}
h1 {
    display: flex;
    justify-content: center;
    font-size: 40px;
}



#jaunsdarbs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 50px;
    font-size: 25px;

}

input#darāmais {
    height: 30px;
    width: 200px;
    font-size: 20px;
    border: solid 2px black;
}

input#termiņš {
    height: 30px;
    width: 200px;
    font-size: 20px;
    border: solid 2px black;
}

#pievienotdarbu {
    font-size: 20px;
    height: 30px;
    width: 150px;
    border: solid 2px black;
    border-radius: 15px;
}








